<footer class="nav-footer navbar-fixed-bottom">
    <div>
        {#<span>This is a footer</span>#}
        {#The Ever Learner 2017#}
        {#Created with love by Erom Agency#}


        <div class="pull-left">
            <ul class="nav navbar-nav">
                <li class="left-footer">Blog</li>
            </ul>
        </div>

        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li>Created with love by Tijana and Nemanja</li>
            </ul>
        </div>

    </div>
</footer>