<nav class="nav-header navbar-fixed-top">


    <div id="navbar" class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">

            {% if app.user %}
                <li class="left-header">{{ app.user.email }}</li>
                <li class="left-header-second">{{ app.user.roles|join(' | ') }}</li>
            {% else %}
                <li class="left-header">Anonymous User - Welcome to Tijana and Nemanja Blog</li>
            {% endif %}

        </ul>
    </div>

    <div id="navbar" class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">

            {% if app.request.get('_route') not in ['homepage', 'entries'] %}
                <li><a href="{{ path("homepage") }}">Home</a></li>
            {% endif %}

            {% if app.user %}
                <li><a href="{{ path("sonata_admin_dashboard") }}">Admin</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li class="active"><a href="/register">Sign in</a></li>
                <li class="active"><a href="/login">Login</a></li>
            {% endif %}

        </ul>
    </div>

</nav>